.input {
    background-color: #282c34;
    color: #108a8a;
    border: 2px solid #108a8a;
    border-radius: 10px;
    text-align: center;
    width: 100px;

}
.input_error {
    background-color: red;
}